header{
    background: grey;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}
.logo{
    color: #Fff;
}
ul{
    display: flex;
}
ul{
    display: flex;
    
}
ul a{
    color: #fff;
    font-size: 34px;
    margin: 0 10px;
}
